#resources {
  float: left;
  margin-right: 20px;
}

#upgrades {
  float: left;
  margin-right: 20px;
}

button {
  margin-top: 20px;
}

#upgrade-list {
  list-style: none;
  padding-left: 0;
}

.upgrade {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #EEE;
  border: 1px solid #CCC;
  border-radius: 5px;
}

.upgrade:hover {
  background-color: #DDD;
}

.upgrade.active {
  background-color: #CFC;
  border-color: #8F8;
}
